* {
    margin: 0;
    padding: 0;
}

h1 {
    color: brown;
}
.bg {
    background-color: beige;
}
.accent {
    border: 1px solid black;
    padding: 5px;
}
h1, p {
    text-align: center;
}
#container {
    background-color: pink;
}
.container {
    background-color: gold !important;
}