#container {
    width: 800px;
    margin: 20px auto;
}

.origin {
    width: 100px;
    height: 100px;
    float: left;
    margin: 40px;
}

.origin img {
    width: 100px;
    height: 100px;
}

#rotate1:hover {
    transform: rotate(-45deg);
}

#rotate2:hover {
    transform: rotate(45deg);
}